body {
  background-color: #282c34;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}

.article-container {
  background-color: #454b58;
  padding: 5px;
  margin: 10px;
  min-height: 175px;
}

.article-preview-container {
  background-color: #454b58;
  padding: 5px;
  margin: 10px;
  min-height: 175px;
}
.article-preview-container:hover {
  cursor: pointer;
}

.header-container {
  background-color: #454b58;
}
.header-text {
  text-align: center;
  padding-right: 120px;
}

.centred-text {
  text-align: center;
}

.left-text {
  text-align: left;
  padding-top: 50px;
}

.preview-date {
  display: flex;
  float: right;
  padding-right: 15px;
}
.header-image {
  float: left;
}

.center {
  margin: auto;
  width: 60%;
  background-color: #373d47;
  padding: 10px;
  margin-top: 10px;
}
h2 {
  margin: 0;
}

h3 {
  margin: 0;
}

.italic {
  font-style: italic;
}

.preview-img {
  display: flex;
  float: right;
}

.preview-text {
  display: inline-block;
  width: calc(100% - 220px);
  padding-left: 10px;
}

.search-container {
  margin: auto;
  width: 60%;
  background-color: #373d47;
  padding: 10px;
  margin-top: 10px;
}

.filter-container button {
  margin: 10px;
}

.footer-space {
  padding: 10px;
}
